---
pageTitle: 会社情報
pageDescription: 会社情報を掲載しています。
game: FFRK
---
<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{pageTitle}} - {{config.siteName}}</title>
</head>
  <body>
    {{> header}}

    <p>{{pageDescription}}</p>

    {{#is game "FFRK"}}
        <p>
          ファイナルファンタジー レコードキーパーは、
          スクウェア・エニックスとDeNAの共同制作によるスマートフォン用ゲーム。
          基本プレイ無料。
        </p>
    {{else}}
        <p>
          DeNAと任天堂が共同開発したアプリ
          「Miitomo(ミートモ)」是非使ってみてね。
        </p>
    {{/is}}

    {{> body}}

    {{> footer}}
  </body>
</html>
